@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: GraphikLCWebUikit;
  src:
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Regular-Web.woff2')
      format('woff2'),
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Regular-Web.woff')
      format('woff'),
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Regular-Web.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: GraphikLCWebUikit;
  src:
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Medium-Web.woff2')
      format('woff2'),
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Medium-Web.woff')
      format('woff'),
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Medium-Web.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: GraphikLCWebUikit;
  src:
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Bold-Web.woff2')
      format('woff2'),
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Bold-Web.woff')
      format('woff'),
    url('https://cdn.xsolla.net/headless-checkout-prod/assets/fonts/graphik/Graphik-Bold-Web.ttf')
      format('truetype');
  font-display: swap;
}
