@import './font';
@import './themes/default/variables';
@import 'src/styles/mixins/typo.mixin';

psdk-submit-button,
psdk-default-submit-button,
psdk-payment-methods,
psdk-saved-methods,
psdk-price-text,
psdk-finance-details,
psdk-legal,
psdk-payment-form,
psdk-status,
psdk-3ds,
psdk-select,
psdk-checkbox,
psdk-user-balance,
psdk-payment-form-messages {
  @include psdk-typo;

  .field-error {
    color: var(--psdk-alert-color);
  }
}

psdk-text,
psdk-phone,
psdk-card-number,
psdk-google-pay-button,
psdk-apple-pay,
psdk-xsolla-number {
  @include psdk-typo;

  .field-error {
    color: var(--psdk-alert-color);
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .wrapper {
    height: 40px;
    margin-bottom: 4px;
  }
}

psdk-google-pay-button {
  iframe {
    height: 44px;
  }
}

psdk-qr-code {
  @include psdk-typo;

  display: flex;
  min-height: 170px;

  iframe {
    width: 100%;
    border: none;
  }
}

.psdk-is-loading {
  .wrapper {
    border-radius: 5px;
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.label {
  margin-bottom: 2px;
}
