@use 'src/styles/mixins/typo.mixin' as typo;
@use 'src/styles/mixins/links.mixin' as links;

psdk-legal {
  @include typo.psdk-typo;
  @include links.link-container;

  display: flex;
  flex-direction: column;

  .disclaimer {
    margin-bottom: 4px;
  }

  .additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .legal-links {
    display: flex;
    flex-wrap: wrap;

    a {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
