/* *** *** COMMON: START *** *** */

.application {
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
}

.columns-wrapper {
    display: flex;
    padding-bottom: 20px;
}

.left-col,
.right-col {
    width: 50%;
}

/* *** *** COMMON: END *** *** */

/* *** *** CONTROLS: START *** *** */
psdk-text,
psdk-card-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    margin-bottom: 30px;
}

psdk-card-number .wrapper {
    align-items: center;
}

psdk-text iframe,
psdk-card-number iframe {
    border: none;
    width: 360px;
}

.field-error {
    color: #f30;
}

/* Select style: the drop-down list will be hidden. */
psdk-select button.select {
    width: 100%;
    max-width: 200px;
}

.dropdown-wrapper {
    display: none;
}

/* Select style: the drop-down list will be opened. */
.dropdown-wrapper.dropdown-opened {
    display: block;
}

.dropdown {
    border: 1px solid #c2c2c2;
    border-radius: 8px;
}

.dropdown .select-options .option {
    padding: 4px 8px;
    cursor: pointer;
    display: block;
}

.dropdown .select-options .option:hover {
    background: #e8e8e8;
}

/* *** *** CONTROLS: END *** *** */

/* *** *** FINANCE DETAILS: START *** *** */

psdk-finance-details {
    display: block;
    background: #f5f5f5;
    padding: 10px;
}

psdk-total {
    display: block;
    background: #f5f5f5;
    padding: 10px;
}

.subtotal-row,
.total-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

/* *** *** FINANCE DETAILS: END *** *** */

/* *** *** STATUS: START *** *** */
psdk-status {
    display: flex;
}

psdk-status .image {
    display: block;
    width: 100%;
    height: auto;
}

psdk-status .title-text {
    text-align: center;
}

/* *** *** STATUS: END *** *** */

/* *** *** FOOTER LINKS: START *** *** */
.company {
    padding-top: 5px;
    display: flex;
}

.company .logo {
    margin-right: 3px;
}

.legal-links {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

/* *** *** FOOTER LINKS: END *** *** */
