@use 'src/styles/mixins/typo.mixin' as typo;
@use 'src/styles/mixins/animation.mixin' as animation;

psdk-status {
  @include typo.psdk-typo;

  .status {
    & > * {
      margin-bottom: 4px;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .title-text {
    @include typo.psdk-title2;

    margin: 0;
    padding: 0;
    font-weight: 500;
  }

  .description {
    margin-top: 0;
  }

  .loader {
    @include animation.loader(var(--psdk-loader-color), 24px, 3px);

    margin-top: 20px;
  }

  .message {
    @include typo.psdk-typo;

    padding: 12px;
    border-radius: var(--psdk-common-border-radius);
    background-color: var(--psdk-neutral-bg);
    color: var(--psdk-neutral-color);
  }
}
