@use 'src/styles/mixins/animation.mixin' as animation;

psdk-apple-pay {
  display: block;

  .apple-button-loader {
    display: none;
  }

  &.psdk-is-loading {
    position: relative;

    .apple-button-loader {
      @include animation.loader(#fff);

      position: absolute;
      inset: 0;
      width: auto;
      height: 48px;
      background: #000;
      border-radius: 5px;
    }
  }
}

.apple-pay-error {
  margin: 0;
  padding: 12px;
  border-radius: var(--psdk-common-border-radius);
  background: var(--psdk-alert-bg);
  color: var(--psdk-alert-color);
}
